topggpy
dblpy
pymongo
dnspython
fortnite-api
hypixel
async-timeout
asyncio
covid
decorator
dhooks
discord
discord-py-slash-command
discord-webhook
discord.py
docutils
fake-useragent
idna
multidict
pillow
image
parse
pefile
pkginfo
praw
prawcore
prettyprinter
psutil
pydantic
pyee
chess.com
pyinstaller-hooks-contrib
pyparsing
pyping
buttons
pypng==0.0.20
pyppeteer==0.2.5
PyQRCode
pyquery
pyrandmeme
python-dateutil
python-dotenv
qrcode==6.1
random2
readme-renderer
requests
requests-html
requests-toolbelt
statcord.py
stock-data-interface
tqdm
typer
typing-extensions
update-checker
urllib3==1.26.5
validators==0.18.2
w3lib==1.22.0
webencodings==0.5.1
websocket-client==0.58.0
websockets==9.1
Werkzeug==1.0.1
Wikipedia-API
yahoo-fin

